async-timeout==3.0.1
asyncio==3.4.3
beautifulsoup4==4.8.0
discord==1.0.1
discord.py==1.7.1
distributed==2.5.2
html5lib==1.0.1
more-itertools==7.2.0
lxml==4.4.1
networkx==2.3
PyNaCl==1.4.0
requests==2.22.0
rope==0.14.0
selenium==3.141.0
youtube_dl==2021.4.17
